# Dependencies
node_modules/

# Build output
# dist/
build/

# Database
*.db
*.db-journal

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
packages/backend/prisma/migrations/

# Logs
*.log
npm-debug.log*
node_modules

# TypeScript Cache
*.tsbuildinfo

# Compiled TS configuration & scripts
packages/backend/prisma/seed.js
packages/backend/prisma/seed.js.map
packages/backend/prisma/seed.d.ts
packages/backend/prisma/seed.d.ts.map
packages/frontend/vite.config.js
packages/frontend/vite.config.d.ts
